<% provide(:title, 'All Templates') %>

<div class = "row">
  <% @templates.each do |t| %>
    <div class="col-lg-4">
      <b><%= link_to t.name, template_path(t) %></b>
    </div>
    <div class="col-lg-8">
      <textarea rows="10"><%= t.content %></textarea>
    </div>
  <% end %>
</div>