<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Template Index", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Add Template", new_template_path %></li>
      </ul>
    </nav>
  </div>
</header>